<body>
  <div class="input-container">
    <div class="Top-Left">
      <label>Top-Left:</label>
      <input class="input-value" type="number" [(ngModel)]="borderRadius.topLeft" (change)="updateCSS()">
    </div>
    <div class="Bottom-Left">
      <label>Bottom-Left:</label>
      <input class="input-value" type="number" [(ngModel)]="borderRadius.bottomLeft" (change)="updateCSS()">
    </div>
    <div class="box" [ngStyle]="{'border-radius': borderRadiusStyle}">Preview Box</div>
    <div class="Top-Right">
      <label>Top-Right:</label>
      <input class="input-value" type="number" [(ngModel)]="borderRadius.topRight" (change)="updateCSS()">
    </div>
    <div class="Bottom-Right">
      <label>Bottom-Right:</label>
      <input class="input-value" type="number" [(ngModel)]="borderRadius.bottomRight" (change)="updateCSS()">
    </div>
  </div>
  <button (click)="copyToClipboard()">Copiar CSS</button>
</body>
